{% extends "layout.html" %}
{% block content %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('showProjects')}}">wróć..</a>
<div style="background-color:white;">
    <div style="margin:10px">
        Tytul: {{projekt.tytul}}
        <hr>
    </div>
    <div style="margin:10px">
        Opis projektu:
        <br><br>
        {{projekt.opis}}
        <hr>
    </div>
    <div style="margin:10px">
        Firma:
        {{firma.nazwa}}
        <hr>
    </div>
    <div style="margin:10px">
        Maksymalna liczba studentow:
        {{projekt.max_studentow}}
        <hr>
    </div>
    <div style="margin:10px">
        Minimalna liczba studentow:
        {{projekt.min_studentow}}
        <hr>
    </div>
    <div style="margin:10px">
        Naklad czasu:
        {{projekt.naklad_czasu}}
        <hr>
    </div>
    <div style="margin:10px">
        Dodatkowy komentarz:
        {{projekt.komentarz}}
        <hr>
    </div>
     {% if projekt.opiekun_nazwisko!=None %}
     <div style="margin:10px">
        Opiekun pwr:
       {{projekt.opiekun_imie}} {{projekt.opiekun_nazwisko }}
        <hr>
    </div>
    {% else %}
    <div style="margin:10px">
        Opiekun pwr:
       Brak
        <hr>
    </div>
    {% endif %}


</div>
     {% if accountType == 1 %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('sendreserveproject', projekt_id=projekt.projekt_id) }}">Zglos swoja grupe</a>
     {% endif %}
      {% if accountType == 2 and projekt.opiekunosoba_id==None %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('signpwremployeetoproject', projekt_id=projekt.projekt_id) }}">Zostan opiekunem projektu</a>
     {% endif %}
      {% if accountType == 2 and projekt.opiekunosoba_id==current_user.id%}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('signoutpwremployeetoproject', projekt_id=projekt.projekt_id) }}">Wypisz sie jako opiekun projektu</a>
     {% endif %}
{% endblock content %}
